<br>
	<div class="container">
	<li class="list-group-item list-group-item-primary">Name: {{author.first_name}}
			<button class="btn-space btn-align btn btn-light btn-sm"{{action 'deleteModel' author on='click'}}>Delete model</button>

			<button type="button" class="btn-align btn btn-light btn-sm">
					{{#link-to 'author-detail' author.id}}
						Edit
					{{/link-to}}
			</button> 
	</li>
	 <li class="list-group-item">Last Name: {{author.last_name}}</li>
	<li class="list-group-item">Nick Name: {{author.nickname}}</li> 
    
	</div>
<br> 


